In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
type(fruits)

pandas.core.series.Series

In [3]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [4]:
#1 Determine the number of elements in fruits.

#2 Output only the index from fruits.

#3 Output only the values from fruits.

#4 Confirm the data type of the values in fruits.

#5 Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

#6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.

#7 Run the code necessary to produce only the unique string values from fruits.

#8 Determine how many times each unique string value occurs in fruits.

#9 Determine the string value that occurs most frequently in fruits.

#10 Determine the string value that occurs least frequently in fruits.

In [5]:
#1
fruits.size

17

In [6]:
#2
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [7]:
#3
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [8]:
#4
fruits.dtype

dtype('O')

In [9]:
#5
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [10]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [11]:
fruits.sample(2)

3     pineapple
10         kiwi
dtype: object

In [12]:
#6
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [13]:
#7
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [14]:
#8
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [15]:
#9
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [16]:
fruits.value_counts().nlargest(n=1)

kiwi    4
dtype: int64

In [17]:
fruits.value_counts().max()

4

In [18]:
fruits.value_counts().idxmax()

'kiwi'

In [19]:
#10
fruits.value_counts().nsmallest(n=1, keep = 'all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [20]:
fruits.value_counts().idxmin()

'strawberry'

In [21]:
#1 Capitalize all the string values in fruits.

#2 Count the letter "a" in all the string values (use string vectorization).

#3 Output the number of vowels in each and every string value.

#4 Write the code to get the longest string value from fruits.

#5 Write the code to get the string values with 5 or more letters in the name.

#6 Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

#7 Write the code to get only the string values containing the substring "berry".

#8 Write the code to get only the string values containing the substring "apple".

#9 Which string value contains the most vowels?

In [22]:
#1
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [23]:
fruits.str.contains('a')

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8     False
9     False
10    False
11    False
12     True
13    False
14     True
15    False
16     True
dtype: bool

In [24]:
#2
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [25]:
#3
fruits.str.count('a')+fruits.str.count('e')+fruits.str.count('i')+fruits.str.count('o')+fruits.str.count('u')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [88]:
#create function 
def count_vowels(some_string):
    count = 0
    for char in some_string:
        if char.lower() in 'aeiou':
            count = count +1
    return count

In [89]:
fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [26]:
#4
fruits.str.len()

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [27]:
#4
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [48]:
#4
fruits.str.len().max()

16

In [49]:
#5
fruits[fruits.str.len()>=5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [30]:
#6
fruits.apply(lambda row: row.count('o')>=2)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
dtype: bool

In [31]:
fruits.str.count('o')

0     0
1     1
2     0
3     0
4     0
5     1
6     2
7     1
8     1
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    0
dtype: int64

In [32]:
#7
fruits.str.contains('berry')

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16    False
dtype: bool

In [45]:
fruits.str.contains('berry').value_counts()

False    13
True      4
dtype: int64

In [44]:
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [39]:
#8
fruits.str.contains('apple').value_counts()

False    14
True      3
dtype: int64

In [43]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [54]:
#9 contains the most vowels?
fruits.str.contains('a').max()

True

In [56]:
fruits[fruits.str.count('a')+fruits.str.count('e')+fruits.str.count('i')+fruits.str.count('o')+fruits.str.count('u').max()]

3           pineapple
3           pineapple
3           pineapple
5    honeycrisp apple
5    honeycrisp apple
6              tomato
4          gala apple
5    honeycrisp apple
4          gala apple
3           pineapple
3           pineapple
3           pineapple
3           pineapple
3           pineapple
3           pineapple
5    honeycrisp apple
4          gala apple
dtype: object

In [57]:
#exercise part III

#1 Which letter occurs the most frequently in the letters Series?

#2 Which letter occurs the Least frequently?

#3 How many vowels are in the Series?

#4 How many consonants are in the Series?

#5 Create a Series that has all of the same letters but uppercased.

#6 Create a bar plot of the frequencies of the 6 most commonly occuring letters.

In [67]:
def Convert(string):
    list1=[]
    list1[:0]=string
    return list1

str1="hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy"
print(Convert(str1))

['h', 'n', 'v', 'i', 'd', 'd', 'u', 'c', 'k', 'k', 'q', 'x', 'w', 'y', 'm', 'b', 'i', 'm', 'k', 'c', 'c', 'e', 'x', 'b', 'k', 'm', 'q', 'y', 'g', 'k', 'x', 'o', 'y', 'n', 'd', 'm', 'c', 'x', 'n', 'w', 'q', 'a', 'r', 'h', 'y', 'f', 'f', 's', 'j', 'p', 's', 'r', 'a', 'b', 't', 'j', 'z', 's', 'y', 'p', 'm', 'z', 'a', 'd', 'f', 'a', 'v', 'y', 'r', 'n', 'n', 'd', 'n', 'd', 'v', 's', 'w', 'r', 'e', 'a', 'u', 'x', 'o', 'v', 'n', 'c', 'x', 't', 'w', 'z', 'p', 'w', 'e', 'j', 'i', 'l', 'z', 'j', 'r', 'm', 'm', 'b', 'b', 'g', 'b', 'y', 'x', 'v', 'j', 't', 'e', 'w', 'q', 't', 'h', 'a', 'f', 'n', 'b', 'k', 'q', 'p', 'l', 'a', 'r', 'o', 'k', 'k', 'y', 'y', 'd', 't', 'u', 'b', 'b', 'm', 'n', 'e', 'x', 'o', 'y', 'p', 'u', 'l', 'z', 'w', 'f', 'h', 'q', 'v', 'c', 'k', 'd', 'p', 'q', 't', 'p', 'o', 'p', 'p', 'z', 'q', 'r', 'm', 'c', 'v', 'h', 'h', 'p', 'w', 'g', 'j', 'w', 'u', 'p', 'g', 'z', 'h', 'i', 'o', 'f', 'o', 'h', 'a', 'w', 'y', 't', 'l', 's', 'i', 'y', 'e', 'c', 'u', 'p', 'r', 'o', 'g', 'u', 'y']

In [68]:
letters = pd.Series(['h', 'n', 'v', 'i', 'd', 'd', 'u', 'c', 'k', 'k', 'q', 'x', 'w', 'y', 'm', 'b', 'i', 'm', 'k', 'c', 'c', 'e', 'x', 'b', 'k', 'm', 'q', 'y', 'g', 'k', 'x', 'o', 'y', 'n', 'd', 'm', 'c', 'x', 'n', 'w', 'q', 'a', 'r', 'h', 'y', 'f', 'f', 's', 'j', 'p', 's', 'r', 'a', 'b', 't', 'j', 'z', 's', 'y', 'p', 'm', 'z', 'a', 'd', 'f', 'a', 'v', 'y', 'r', 'n', 'n', 'd', 'n', 'd', 'v', 's', 'w', 'r', 'e', 'a', 'u', 'x', 'o', 'v', 'n', 'c', 'x', 't', 'w', 'z', 'p', 'w', 'e', 'j', 'i', 'l', 'z', 'j', 'r', 'm', 'm', 'b', 'b', 'g', 'b', 'y', 'x', 'v', 'j', 't', 'e', 'w', 'q', 't', 'h', 'a', 'f', 'n', 'b', 'k', 'q', 'p', 'l', 'a', 'r', 'o', 'k', 'k', 'y', 'y', 'd', 't', 'u', 'b', 'b', 'm', 'n', 'e', 'x', 'o', 'y', 'p', 'u', 'l', 'z', 'w', 'f', 'h', 'q', 'v', 'c', 'k', 'd', 'p', 'q', 't', 'p', 'o', 'p', 'p', 'z', 'q', 'r', 'm', 'c', 'v', 'h', 'h', 'p', 'w', 'g', 'j', 'w', 'u', 'p', 'g', 'z', 'h', 'i', 'o', 'f', 'o', 'h', 'a', 'w', 'y', 't', 'l', 's', 'i', 'y', 'e', 'c', 'u', 'p', 'r', 'o', 'g', 'u', 'y'])
type(letters)

pandas.core.series.Series

In [80]:
#1
letters[letters.value_counts().max()]

'y'

In [95]:
letters.value_counts().idxmax()

'y'

In [93]:
#2 this is incorrect as it takes the first lowest character
letters.value_counts().min(),letters[letters.value_counts().min()]

(4, 'd')

In [102]:
#2 correct way would be to use idxmin
letters.value_counts().idxmin()

'l'

In [105]:
#3 counts a specific vowel
letters.str.contains('a').value_counts()

False    192
True       8
dtype: int64

In [103]:
# create a function to identify the vowels in the string.
def count_vowels(letter_string):
    count = 0
    for char in letter_string:
        if char.lower() in 'aeiou':
            count = count +1
    return count

In [106]:
#3 counts the total number of vowels in the string with .apply from function created and value counts.
letters.apply(count_vowels).value_counts()

0    166
1     34
dtype: int64