In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

telco = pd.read_csv(r"/Users/Ray/downloads/jemison_spreadsheet_exercises - RDS - Table1_CustDetails.csv")

In [2]:
telco.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,3.2

In [3]:
telco.head(2).T

                              0             1
customer_id          0002-ORFBO    0003-MKNFE
gender                   Female          Male
is_senior_citizen             0             0
partner                     Yes            No
dependents                  Yes            No
phone_service                 1             2
internet_service              1             1
contract_type                 1             0
payment_type       Mailed check  Mailed check
monthly_charges            65.6          59.9
total_charges             593.3         542.4
churn                        No            No
tenure                      9.0           9.1

In [4]:
telco.gender.value_counts()

Male      3558
Female    3491
Name: gender, dtype: int64

In [5]:
telco.is_senior_citizen.value_counts()

0    5907
1    1142
Name: is_senior_citizen, dtype: int64

In [6]:
telco.partner.value_counts()

No     3642
Yes    3407
Name: partner, dtype: int64

In [7]:
telco.dependents.value_counts()

No     4934
Yes    2115
Name: dependents, dtype: int64

In [8]:
telco.customer_id.count()

7049

In [13]:
telco.groupby(["is_senior_citizen", "partner", "dependents", "contract_type", "churn"]).size()

is_senior_citizen  partner  dependents  contract_type  churn
0                  No       No          0              No       1051
                                                       Yes       783
                                        1              No        444
                                                       Yes        50
                                        2              No        378
                                                       Yes        14
                            Yes         0              No        134
                                                       Yes        66
                                        1              No         77
                                                       Yes         7
                                        2              No         67
                                                       Yes         2
                   Yes      No          0              No        304
                                                       Yes       190
                                        1              No        245
                                                       Yes        40
                                        2              No        372
                                                       Yes        12
                            Yes         0              No        365
                                                       Yes       176
                                        1              No        383
                                                       Yes        40
                                        2              No        693
                                                       Yes        14
1                  No       No          0              No        190
                                                       Yes       264
                                        1              No         54
                                                       Yes        11
                                        2              No         41
                                                       Yes         1
                            Yes         0              No          5
                                                       Yes         2
                                        1              No          1
                   Yes      No          0              No        145
                                                       Yes       159
                                        1              No         83
                                                       Yes        16
                                        2              No         84
                                                       Yes         3
                            Yes         0              No         26
                                                       Yes        16
                                        1              No         23
                                                       Yes         2
                                        2              No         14
                                                       Yes         2
dtype: int64

In [16]:
telco.value_counts(["churn", "dependents", "partner", "is_senior_citizen"])

churn  dependents  partner  is_senior_citizen
No     No          No       0                    1873
       Yes         Yes      0                    1441
       No          Yes      0                     921
Yes    No          No       0                     847
No     No          Yes      1                     312
                   No       1                     285
       Yes         No       0                     278
Yes    No          No       1                     276
                   Yes      0                     242
       Yes         Yes      0                     230
       No          Yes      1                     178
       Yes         No       0                      75
No     Yes         Yes      1                      63
Yes    Yes         Yes      1                      20
No     Yes         No       1                       6
Yes    Yes         No       1                       2
dtype: int64

In [24]:
telco.churn.value_counts()

No     5179
Yes    1870
Name: churn, dtype: int64

In [37]:
len(telco[telco.churn == 'Yes'])

1870

In [28]:
1870/telco.customer_id.count()

0.2652858561498085

In [43]:
len(telco[telco.churn == 'Yes'])/telco.customer_id.count()*100

26.528585614980848

In [49]:
first_month = telco.where(telco.tenure >= 1).sum()
first_month

/var/folders/bk/zhdff0zs3yz8v31x8wdnftxm0000gn/T/ipykernel_57233/589538168.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  first_month = telco.where(telco.tenure >= 1).sum()

is_senior_citizen        1142.00
phone_service            9324.00
internet_service         8613.00
contract_type            4849.00
monthly_charges        455946.10
total_charges        16068062.85
tenure                 228247.10
dtype: float64

In [53]:
telco.monthly_charges.sum()

456401.7

In [ ]:
# how much revenue was lost after the first month from churners?
# now narrow it down to churners with no dependents, no partners.