In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

telco = pd.read_csv(r"/Users/Ray/downloads/jemison_spreadsheet_exercises - RDS - Table1_CustDetails.csv")

In [2]:
telco.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,3.2

In [3]:
telco.head(2).T

                              0             1
customer_id          0002-ORFBO    0003-MKNFE
gender                   Female          Male
is_senior_citizen             0             0
partner                     Yes            No
dependents                  Yes            No
phone_service                 1             2
internet_service              1             1
contract_type                 1             0
payment_type       Mailed check  Mailed check
monthly_charges            65.6          59.9
total_charges             593.3         542.4
churn                        No            No
tenure                      9.0           9.1

In [4]:
telco.gender.value_counts()

Male      3558
Female    3491
Name: gender, dtype: int64

In [5]:
telco.is_senior_citizen.value_counts()

0    5907
1    1142
Name: is_senior_citizen, dtype: int64

In [6]:
telco.partner.value_counts()

No     3642
Yes    3407
Name: partner, dtype: int64

In [7]:
telco.dependents.value_counts()

No     4934
Yes    2115
Name: dependents, dtype: int64

In [8]:
telco.customer_id.count()

7049

In [9]:
telco.dependents.churn.value_counts()

AttributeError: 'Series' object has no attribute 'churn'